body{
    display:flex;
    flex-direction:row;
    margin: 0;
    padding: 0;

}

#navbar{
    width: 300px;
    flex:none;
    padding: 0 16px;

    header{
        line-height: 64px;
        height:64px;
        font-size: 28px;
        

    }
    ul{
        margin:0px;
        padding:0px;
        li{
            display: block;
            // border-bottom:1px black;
            // border-style: solid;
        }
        li::after{
            content: "";
            display: block; 
            height:1px;
            background: black;

        }
        .nav-link{
            margin: 16px 0;
            display: block;

        }
    }

}

#main-doc{
    width:100%;
}

@media screen and(max-width:800px){
    body{
        display:flex;
        flex-direction:column;
        margin: 0;
        padding: 0;
    
    }
    #navbar{
        width:  100%;
        padding: 0 16px;
        box-sizing: border-box;



        Ul{
            height:180px;
             overflow:hidden;
            overflow-x: hidden;
        }
    


        
    
    }
    
}


// for test

#test {
    width:calc(100% - 30px);
    height: 200px;
    padding: 15px;
    margin:16px auto;
    background: gray;
}